a {
	text-decoration: none;
    color: silver;
}

b {
    text-decoration: none;
}

pre {
	font-size: 9pt;
	padding-top: 2.5%;
	padding-left: 0.5%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
	background-color: #000;
	color: #FFF;
}