a {
	text-decoration: none;
    color: silver;
	filter: drop-shadow(0px 0px 2px white);
}


b {
    text-decoration: none;
}

pre {
	font-size: 9pt;
	padding-left: 0.5%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
}

body {
	background-color: #000;
	color: #FFF;
}

overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
    background: #000000;
    mix-blend-mode: overlay;
}