* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{scroll-behavior:smooth;
  height:100%;
  margin:0;
  padding:0;
  z-index:-1;
  background-color:#1a1a1a}
  
  body{overflow-x:hidden;
    margin-top:0;
    text-align:center;
    background-color:#1a1a1a;
    font-family:monospace;
    color:silver;
    z-index:-1
  }

h1 {
  margin-top:10%;
  font-size:50px;
  font-family:monospace;
  user-select: none;
  text-align:center;
  animation:hoverlift 3.2345s infinite ease-in-out;
  -webkit-font-smoothing:antialiased;
  z-index:-1
}

@keyframes hoverlift{
  0%{transform:translateY(0px)}
  50%{transform:translateY(-10px)}
  100%{transform:translateY(0px)}
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.fade-in {
  animation: fadeIn 10s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  
  to {
      opacity: 1;
  }
}

overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0%;
  background: #000000;
  mix-blend-mode: overlay;
}