@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
	font-family: 'Roboto Mono', monospace;
	background-color: #0E1010;
	color: #6f7a8c; 
	margin: auto;
	padding: 1em;
	max-width: 75em;
	font-size: 10pt;
}

a {
	text-decoration: none;
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-size: 10pt;
	z-index: 10;
	color: #435675;
	font-weight: bold;
	padding-right: 0.25em;
}

.thing {
	border-collapse: collapse;
	border: 5px double #435675;
	padding: 0.8em;
	text-align: center;
}

.blink {
	animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }